

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 well ref-div">
    <h3 class="reference-headline">Click the "References" button again to close this window!!<h3>

      <ul class="ref-list">
        <li class="ref-name">Bob Smith | 555-555-5555 | 1234 Fake St Suite 123, Nowhere, USA | bob@fake.com </li>
        <hr>
        <li class="ref-name">Gino Batman | 555-555-5555 | 1654 Faker blvd Suite 123, Nowhere, USA | gino@fake.com </li>
        <hr>
        <li class="ref-name">Bill Gates | 555-555-5555 | 2233 Faker blvd Suite 1433, Nowhere, USA | Billo@fake.com </li>
        <hr>
        <li class="ref-name">Larry Omg| 555-555-5555 | 1654 Fakey place Suite 55, Nowhere, USA | larryo@fake.com </li>
        <ul>

  </div>
  <div class="col-lg-1"></div>
</div>
