<% content_for :title, "Joss Monster | Blog" %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
<h2>All Posts</h2>
 <% @posts.each do |post| %>
 <h4><%= link_to post.title, post_path(post) %></h4>
 <p><%= pluralize(post.comments.count, "Comment") %></p>
 <% end %>


<%= link_to "Add Post", new_post_path %>
<%= link_to "Home", skills_path %>
		</div><!-- end of col-12 -->
	</div><!-- end of row -->
</div><!-- end of container -->