@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Dancing+Script);


/*-------- base site styling ------------*/
html, body {
	height: 100%;
}

body {
	padding-top: 60px;
	font-family: 'EB Garamond', serif;
	background: #fff;
}

#notice {
	color: red;
}

ul {
	list-style: none;
}

.navbar-inverse {
	background-color: #A3ABAF;
	border: none;
}

.navbar-header a.navbar-brand {
  color: #fff
}
.navbar-inverse .navbar-nav > li > a {
  color:#fff;
 
}

.btn-default {
	background-color: #A3ABAF;
	border: .08em solid #37646F;
	border-radius: 3px;
	display: inline-block;
	padding: 3px;
	
}
p.btn-default a {
	color: #ffffff;
	text-align: center;
	padding: 6px;
}
p.btn-default {
	margin-right: 7px;
}
/*--------- home page styling ------------*/

.main-title {
	font-size: 90px;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color:  #B22E2F;
}
.sub-title {
	font-size: 32px;
	text-transform: uppercase;
	font-family: 'EB Garamond', serif;
	color: #1B2B32;
}

.skill-display a {
	font-size: 20px;
	display: inline-block;
	padding-top: 10px;
	color: #37646F;
}
.skill-display a:hover {
	color: #1B2B32;
}

.skill-display {
	text-align: center;
}
.links {
	font-size: 26px;
	text-transform: uppercase;
	font-family: 'EB Garamond', serif;
	color:   #37646F;	
}
.links a {
	color: #37646F;	
}
.links a:hover {
	color: #1B2B32;	
}

.col-md-3.skill-display {
	padding-top: 10px;
	padding-bottom: 15px;
}
/*--------- skill page styling ------------*/

.project-list {
	font-size: 20px;
	
}

.project-items a {
	padding-right: 20px;
	color: #37646F;
}
.project-items a:hover {
	color: #1B2B32;	
}
.skill-description {
	font-size: 20px;
}

/*--------- project page styling ------------*/



/*--------- form styles ---------------------*/
.form-titles {
	font-size: 32px;
	text-transform: uppercase;
	font-family: 'EB Garamond', serif;
	color: #1B2B32;
}
